.main {
    background-color: #f1f3f4;
    display: flex;
    justify-content: center;
}

.canvas-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.canvas {
    border: 2px solid #dadce0;
    background-color: #fff;
}