.toolbar {
    position: fixed;
    top: 50%;
    left: 12px;
    width: 48px;
    transform: translateY(-50%) translateY(54px);
    display: block;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 24px;
    z-index: 100;
    zoom: 1;
}

.toolbar-button {
    fill: #3c4043;
    border: none;
    background-color: #fff;
    margin: 6px 4px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-button:hover {
    background-color: #9fa4a8;
}

.toolbar-button:hover {
    cursor: pointer;
    background-color: #ddd;
}

.selected {
    background-color: #3c4043;
    fill: #fff;
}

.selected:hover {
    background-color: #4a5053;
}

.pen-right-arrow {
    position: absolute;
    bottom: 18px;
    right: 3px;
    width: 3px;
    height: 4px;
    background: no-repeat url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQiIHZpZXdCb3g9IjAgMCAzIDQiIHdpZHRoPSIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwb2x5Z29uIGZpbGw9IiM4MDg2OEIiIHBvaW50cz0iNDg4LjI1IDY1Mi43NSA0ODYuMjUgNjU1LjI1IDQ4NC4yNSA2NTIuNzUiIHRyYW5zZm9ybT0icm90YXRlKC05MCAtODIuMjUgNTcwLjUpIi8+PC9zdmc+);
    display: block;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}